/* Color Theme */
.primary {
    background-color: #4db7a1;
  }

.transparent {
    background-color: transparent;
}

.primary-gradient {
    background: linear-gradient(270deg, #0D9689 -2.25%, #4DB7A1 101.5%);
}
  .secondary {
    background-color: #637fdd;
  }
  .gray {
    background-color: #dfdfe1;
  }
  .orange {
    background-color: #f2994a;
  }
  .info {
    background-color: #2d9cdb;
  }
  .primary--text {
    color: #4db7a1;
  }
  .secondary--text {
    color: #637fdd;
  }
  .gray--text {
    color: #bdbdbd;
  }
  .orange--text {
    color: #f2994a;
  }
  .white--text {
    color: #fff;
  }

  .text--right {
      text-align: right;
  }
  .text--center {
    text-align: center;
  }

  .grey--text {
      color: #596366;
  }

/** Custom CSS **/
body {
    font-family: 'Poppins', sans-serif;
}
.popup-interface {
    position: fixed;
	bottom: 0px;
    right: 35px;
    z-index: 10;
}
.popup-interface-btn {
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    width: 400px;
}

.chat-widget-interface {
    width: 400px;
    position: fixed;
	bottom: 10px;
    right: 45px;
    border: 1px solid #a0a8b070;
    padding: 0px 15px;
    border-radius: 20px;
    background-color: #FCFCFC;
    display: none;
}

.interface--header {
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

.input-fields {
    border-top: 1px solid lightgrey;
    background-color: #FCFCFC;
}

.text-smaller {
    font-size: smaller;
}

.chat-container {
    padding: 10px;
    max-height: 300px;
}

.chat-container--empty {
    height: 100px;
}

.user-message {
    background-color:#F2F2F2;
    border-radius: 25px;
    font-size: 14px;
}

.agent-message {
    border-radius: 25px;
    font-size: 14px;
}

.agent-details {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text-field {
    width: 100%;
    padding: 15px;
    border: 0px;
    color: #A0A8B0;
    font-size: 14px;
}

::placeholder { /* Most modern browsers support this now. */
    color: #A0A8B0;
 }

.icons:hover {
    cursor: pointer;
}

.popup-interface-footer {
    text-align: center;
    color: #A0A8B0;
    padding: 10px;
    background-color: #FCFCFC;
}
.footer-text {
    font-size: 10px;
}
.footer-title {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.show {
	display: block !important;
}

.hide {
	display: none;
}

/*** Chat Options **/
.chat-dropdown-options {
    display: none;
    position: absolute;
    right: 45px;
    background-color: #f1f1f1;
    min-width: 195px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
.chat-dropdown-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.chat-dropdown-options a:hover {
    background-color: #ddd;
}
.modal-send-transcript {
    max-width: 400px;
}
.send-chat-input {
    width: 315px;
    border-radius: 5px;
    border: 1px solid #A0A8B0;
}
.modal-btn {
    width: 150px;
}

.star-rating {
    width: 30px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.rating-btn {
    font-size: 18px;
    padding: 2px 7px;
    border-radius: 25px;
}
.rating-feedback {
    display: none;
    width: 250px;
    text-align: center;
}
.submit-rating-btn {
    width: 240px;
}
.bold {
    font-weight: bold;
}
.comment-rating {
    font-style: italic;
    font-weight: bold;
}